* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#background {
    background-color: midnightblue;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clock-border {
    position: absolute;
    background-color: midnightblue;
    min-width: 350px;
    min-height: 350px;
    max-width: 500px;
    max-height: 500px;
    border: aqua 5px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
}

.hand {
    position: absolute;
    background-color: aqua;
    width: 50%;
    border-radius: 5px;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.hour {
    background-color: black;
    height: 7px;
}

.min {
    background-color: azure;
    height: 3px;
}

.sec {
    background-color: rgb(252, 9, 9);
    height: 1px;
}

#twelve {
    position: absolute;
    top: 0%;
    left: 50%;
}

#three {
    position: absolute;
    right: 0%;
}

#six {
    position: absolute;
    bottom: 0%;
    left: 50%;
}
